
/* -- ------------------- --
   -- SEARCH PAGE STYLES  --
   -- ------------------- -- */

/* .column-material-type {height: 100%; max-height: 447px;} */
/* spacing thumbnails evenly */
/*    -- Result / Instruction Section  -- */
.material-title-background {
    background-color: #F6F6F6;
    width: 100%;
    height: 75px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;

 
}
.material-title {
    font-family: Acumin Pro;
    font-weight: 500;
    font-size: 20px;
}



.title-show {display: block;}
.title-hide {display: none;}
.material-title2 {}
.material-title3 {}
.material-title4 {}

/* -- ------------ --
   --   CAROUSEL   --
   -- ------------ -- */
   #myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    /* left: initial; */
    width: initial; 
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    /* border-color: #2FD09A !important; */
    /* border-width: 1px !important; */
} 

li.list-inline-item { 
    display: inline-block; 
    margin: 0px !important;}

.carousel-indicators {
    margin-top: 12px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    justify-content: space-between;
    }
.active a img{
        /* display: block; */
        border-style: solid;
        border-width: 2px;
        border-color: #2FD09A;
        box-shadow: 0px 4px 4px rgba(47, 208, 154, 0.05);
    }

.my-img {
    width: 100% !important;
    max-width: 100px !important;
    height: auto;
}   
/* --END CAROUSEL-- */


.section-instructions {
    margin-bottom: 70px;
}

.banner {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.instruct-number { 
    display: inline-block;
}
.instruct { 
    display: inline-block;
    padding-left: 16px;
}
.instruct-block {
    padding-bottom: 10px;
}




/*    -- Impact Section  -- */

.section-impact {
    /* height:40%;
    max-height: 340px; */
    background: url("../images/impact-background.jpg") no-repeat center center fixed;
    background-size:cover;
    z-index: 0;
    text-align: center;
}
.impact-block {
    max-width: 337px;
    padding-top: 70px;
    padding-bottom: 70px;
}   

.section-title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px;
}

.impact-block p{
    font-weight: 300;
    font-size: 20px;
    line-height: 125%;
    /* or 25px */

    max-width: 337px;
    text-align: center;
}
.carbon-footprint { margin-top: 10px;}
p.carbon-footprint-unit {
   
    margin-bottom: 0px;
    line-height: 125%;
}
.carbon-footprint-unit { margin-left: 10px;}



/*    -- Map Section  -- */
.column-map-results {
    max-height: 425px;
    overflow: scroll;
    background-color: #FAFAFA;
    /* overflow-y: auto; */
}

.results-frame { padding-top: 20px;}

.section-map {margin-top: 70px; margin-bottom: 70px;}
.map-title {margin-bottom: 20px;}
.map-container{
    overflow:hidden; 
    padding-bottom:56.25%;
    position:relative;
    height:0;
    box-shadow: 0px 4px 4px rgba(51, 54, 53, 0.15);
    }
.map-container iframe{
    left:0;
    top:0; 
    height:100%;
    max-height: 425px;
    width:100%;
    max-width: 550px;
    position:absolute;
    }


/* map results */
.iframe-container {
    overflow: hidden;
    width: 100%;
    max-width: 550px;
    /* Calculated from the aspect ratio of the content (in case of 16:9 it is 9/16= 0.5625) */
    /* padding-top: 56.25%; */
    position: relative;
    }
/* setting max width of address block */
.map-addr-block { max-width: 337px; font-weight: 200;}   
/* setting width of row of map icons */
.map-icons { 
    max-width: 337px;
    padding-top: 0px;
}
/* setting max width of address field so it fits nicely in block*/
.map-addr { max-width: 184px;}

/* separator line between map results */
.my-4 {
    width: 90%;
}
    
/* .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    } */



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* --START CAROUSEL adjusting thumbnails for breathing room-- */
    .my-img {
        width: 100% !important;
        max-width: 70px !important;
        height: auto;
    }   
    /* --END CAROUSEL-- */
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* --START CAROUSEL adjusting thumbnails for breathing room-- */
    .my-img {
        width: 100% !important;
        max-width: 100px !important;
        height: auto;
    }   
    /* --END CAROUSEL-- */
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }


