
/* -- ------------ --
   -- CSS / STYLES --
   -- ------------ -- */

/* Global Reset */

h1, h2, h3, h4, p {
    margin: 0px !important; 
    line-height: 125% !important;
}

/* page title - recycle matters h1 */
.recycle-h1 {
    font-family: Acumin Pro;
    font-weight: 700; 
    font-size: 46px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.recycle-h2 {
    font-family: Acumin Pro;
    font-weight: 700;
    font-size: 20px;
}

.recycle-h3 {
    font-family: Acumin Pro;
    font-weight: 500;
    font-size: 18px;
}

.thumbnail-title {
    font-size: 14px;
    font-weight: 200;
}

/* global border radius */
.recycle-borders { border-radius: 4px;}


/* ---------------------------------------- */

/* --    Main Colors    --

Dark Cerulean           Deep Space Sparkle                
#02437B                 #465F75                 

Pale Cerulean           Lavender Gray 
#98C1D9                 #BECBD2

Stil de Grain Yellow    Flax
#FADF63                 #E9D88A

Mountain Meadow         Green Sheen
#2FD09A                 #5EBF9F
--------------------
white                   Soft White
#FFFFFF                 #F6F6F6

Gray 1                  Gray 2
#EEEEEE                 #DDDDDD

Med. Gray 1             Med. Gray 2
#BBBBBB                 #8888888

Dark Gray 1             Dark Gray 2             Charcoal
#777777                 #454545                 #333635
*/

/* ---------------------------------------- */

/* -- Colors applied to text and backgrounds --

/* dark-mode background color */
.background-dark { background-color: #465F75;}
/* light-mode background color */
.background-light { background-color: #F6F6F6;}
/* dark color for heading elements - hierachy - light background */
.title-color-dark { color:#333635; }
/* dark color for sub elements - hierachy - light background */
.text-color-dark { color: #454545;}
/* map text color for better hierarchy */
.map-text-color-dark { color: #777777;}
/* light color for heading elements - hierachy - dark background */
.title-color-light { color: #F6F6F6;}
/* light color for sub elements - hierachy - dark background */
.text-color-light { color: #F6F6F6;}
/* warning color - highlight for instructions */
.highlighter { background-color: #FADF63;}
/* isolation color - normal state */
.isolation-color { color: #2FD09A;}
/* isolation color - hover state */
.hover-color { color: #5EBF9F;}
/* placeholder text color */
.placeholder-color { color: #BBBBBB;}


/* -- ------------ --
   --   HOMEPAGE   --
   -- ------------ -- */

/* homepage title */
.homepage-title {
    font-family: Bungee;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    margin-top: 50%;
}
/* homepage subtitle */
.homepage-subtitle {
    font-family: Acumin Pro;
    font-weight: 300;
    font-size: 20px;
}
/* placeholder text */
.placeholder-text {
    font-family: Acumin Pro;
    font-weight: 300;
    font-size: 14px;
}

/* -- ------------ --
   -- SEARCH PAGE  --
   -- ------------ -- */


/*    -- Result / Instruction Section  -- */

.section-instructions {
    margin-bottom: 70px;
}

.banner {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.instruct-number { 
    display: inline-block;
}
.instruct { 
    display: inline-block;
    padding-left: 16px;
}
.instruct-block {
    padding-bottom: 10px;
}

/*    -- Impact Section  -- */

.section-impact {
    /* height:40%;
    max-height: 340px; */
    background: url("../images/impact-background.jpg") no-repeat center center fixed;
    background-size:cover;
    z-index: 0;
    text-align: center;
}
.impact-block {
    max-width: 337px;
    padding-top: 70px;
    padding-bottom: 70px;
}   

.section-title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px;
}

.impact-block p{
    font-weight: 300;
    font-size: 20px;
    line-height: 125%;
    /* or 25px */

    max-width: 337px;
    text-align: center;
}
.carbon-footprint { margin-top: 10px;}
p.carbon-footprint-unit {
   
    margin-bottom: 0px;
    line-height: 125%;
}
.carbon-footprint-unit { margin-left: 10px;}



/*    -- Map Section  -- */

.section-map {margin-top: 70px;}
.map-title {margin-bottom: 20px;}
.map-container{
    overflow:hidden; 
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container iframe{
    left:0;
    top:0; 
    height:100%;
    max-height: 425px;
    width:100%;
    max-width: 550px;
    position:absolute;
    }


/* map results */
.iframe-container {
    overflow: hidden;
    width: 100%;
    max-width: 550px;
    /* Calculated from the aspect ratio of the content (in case of 16:9 it is 9/16= 0.5625) */
    /* padding-top: 56.25%; */
    position: relative;
    }
/* setting max width of address block */
.map-addr-block { max-width: 337px; font-weight: 200;}   
/* setting width of row of map icons */
.map-icons { 
    max-width: 337px;
    padding-top: 0px;
}
/* setting max width of address field so it fits nicely in block*/
.map-addr { max-width: 184px;}

/* separator line between map results */
.my-4 {
    width: 90%;
}
    
/* .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    } */


/* 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */